# Copia este archivo como .env y rellena los valores
DB_CONNECTION_STRING=server=localhost;port=3306;database=pizzadb;user=root;password=tu_password;
JWT_SECRET=super_secreto_largo_y_aleatorio
JWT_ISSUER=pizzaplaneta
JWT_AUDIENCE=pizzaplaneta.clients

# SendGrid Configuration
SENDGRID_API_KEY=tu_api_key_de_sendgrid
SENDGRID_SENDER_EMAIL=tu_email_verificado_en_sendgrid@ejemplo.com
