@inherits ErrorBoundary

@if (Error != null)
{
    <div class="error-boundary">
        <h2>Error no controlado</h2>
        <p>@Error.Message</p>
        <pre>@Error.StackTrace</pre>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public Exception? Error { get; set; } // Permitir null
}